<%= button_to "Back", dashboard_path, class: "btn btn-primary", method: :get %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Realm</th>
          <th>Level</th>
          <th><%= button_to "Refresh Guild", nil, class: "btn btn-success" %></th>
        </tr>
        <% @members.each do |member| %>
        <tr>
          <td><%= member['name'] %></td>
          <td><%= member["realm"] %></td>
          <td><%= member["level"] %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
