<div class="center">
  <h1>Dashboard</h1>

  <% if current_user.guild_id.nil? %>
    <%= button_to "Add Guild", new_guild_path, class: "btn btn-default", method: :get %>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table">
            <tr>
              <td style="vertical-align: middle;"><%= @guild.guild_name %></td>
              <td style="vertical-align: middle;"><%= @guild.realm %></td>
              <td><%= button_to "Show Characters", @guild, class: "btn btn-primary", method: :get %></td>
              <td><%= button_to "Delete", guild_path(@guild), class: "btn btn-danger", data: {confirm: "Are you sure?"}, method: :delete %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= button_to "Add Raid Group", new_raid_group_path, class: "btn btn-default", method: :get %>
        </div>
        <div class="col-md-8 col-md-offset-1">
          <table class="table">
            <tr>
              <th class="center">Group Name</th>
              <th class="center">Member Count</th>
              <th class="center">Average iLvl</th>
              <th class="center" colspan="3">Actions</th>
            </tr>
            <% if @raid_groups %>
            <% @raid_groups.each do |raid_group| %>
            <tr>
              <td><%= raid_group.group_name %></td>
              <td><%= raid_group.members.length %></td>
              <td><%= raid_group.average_ilvl %></td>
              <td><%= button_to "Add Members", nil, class: "btn btn-success", method: :get %></td>
              <td><%= button_to "View Members", raid_group_path(raid_group), class: "btn btn-primary", method: :get %></td>
              <td><%= button_to "Delete", raid_group_path(raid_group), class: "btn btn-danger", data: {confirm: "Are you sure?"}, method: :delete %></td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
