<%= button_to "Back", dashboard_path, class: "btn btn-primary", method: :get %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= button_to "Refresh Members", refresh_members_path(@group), class: 'btn btn-success', method: :get %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Realm</th>
          <th>iLvl</th>
          <th>Actions</th>
        </tr>
        <% @members.each do |member| %>
        <tr>
          <td><img src="<%= member['thumbnail'] %>" alt=""></td>
          <td><%= member['name'] %></td>
          <td><%= member["realm"] %></td>
          <td><%= member.items["averageItemLevelEquipped"] %></td>
          <td><%= button_to "Remove", remove_member_path(group_id: @group.id, member_id: member.id), class: "btn btn-danger", method: :delete %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
