<%= button_to "Back", dashboard_path, class: "btn btn-primary", method: :get %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= button_to "Refresh Members", refresh_members_path(@group), class: 'btn btn-success', method: :get %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th></th>
          <th class= "center">Name</th>
          <th class= "center">Realm</th>
          <th class= "center">iLvl</th>
          <th class= "center" colspan="2">Actions</th>
        </tr>
        <% @members.each do |member| %>
        <tr>
          <td class= "center vert-center"><img src="<%= member['thumbnail'] %>" alt=""></td>
          <td class= "center vert-center"><%= member['name'] %></td>
          <td class= "center vert-center"><%= member["realm"] %></td>
          <td class= "center vert-center"><%= member.items["averageItemLevelEquipped"] %></td>
          <td class= "center vert-center"><%= button_to "Remove", remove_member_path(group_id: @group.id, member_id: member.id), class: "btn btn-danger", method: :delete %></td>
          <td class="vert-center"><%= button_to "View", view_player_path(member), class: "btn btn-primary", method: :get %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
